body {
  font-family: Arial;
  background: #f5f7fa;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  width: 400px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
